<footer class="footer">
  <nav class="footer-nav">
    <ul class="social">
      <li class="social-item">
        <a href="https://github.com/margamb" title="Github" target="_blank">
          <app-github></app-github>
        </a>
      </li>
      <li class="social-item">
        <a
          href="https://www.linkedin.com/in/margamarben/"
          title="Linkedin"
          target="_blank"
        >
          <app-linkedin></app-linkedin>
        </a>
      </li>
      <li class="social-item">
        <a href="https://marga.pro" title="Linkedin" target="_blank">
          <app-web></app-web>
        </a>
      </li>
    </ul>
  </nav>
  <small class="footer-author">Marga Martínez </small>
</footer>
